<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wordpress.android.sampleapp">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MediaPickerApplication"
        android:theme="@style/Theme.MediaPicker">
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="org.wordpress.android.mediapicker.ui.MediaPickerActivity"
            android:theme="@style/MediaPicker.NoActionBar" />
    </application>

</manifest>
